#header {
    background-color: white;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

#header .logo {
    color: #4954c7;
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
}

#header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

#header ul li {
    list-style: none;
    margin-left: 20px;
}

#header ul li a {
    text-decoration: none;
    padding: 6px 5px;
    color: rgba(24, 110, 209);
    border-radius: 20px;
}

#header ul li a:hover,
#header ul li a.active{
    background-color: rgba(24, 110, 209,0.5);
    color: rgb(255, 255, 255);
}


.banner-for-carpark{
    display:flex;
    justify-content: flex-start;
    width:100%;
    height:500px;
    background: url(../carpark-assets/parking.jpeg) 0 0 / cover no-repeat;

}

.carpark-container{
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top:50px;
}

.d-flex{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width:800px;
}

#carpark-availability{
    width:800px;
    height:700px;
    display:flex;
    flex-direction: column;
}


.carpark-header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    width:auto;
    height: 50px;
    margin-top: 10px;
}

.carpark-header h1{
    text-align: center;
}


.form-control{
    width: 500px;
    height: 35px;
    border-radius: 5px;
    margin: 5px;
}

.carpark-heading{
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 5px;
    width:600px;
    height:100px;
    margin: 10px auto;
}

.carpark-content{
    width:600px;
    display: flex;
    justify-content: space-between;
    padding:5px 5%;
    height: auto;
    border-radius:5px;
    background:white;
    margin: 25px auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


.location h1{
    font-family: "Poppins",sans-serif;
    font-size: 20px;
}

.lots-available h1{
    font-family: "Poppins",sans-serif;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    color:black;
}

.carpark-rates{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin:20px;

}

.rate-header{
    display:flex;
    flex-direction: row;

}

.rate-header h1{
    font-size:40px;
    font-family: "Poppins",sans-serif;
}


#non-central{
    width:500px;
    height:400px;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

#central{
    width: 500px;
    height:400px;
    display: flex;
    flex-direction: column;
    margin:10px;
}
.card{
    width:500px;
    height:400px;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card-body{
    width:500px;
    height:100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding:0px;
    border-radius: 5px;
    

}
.subheading{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding:10px;
}

.subheading p{
    font-size: 20px;
    font-family: "Poppins",sans-serif;
}

.card-title{
    display: flex;
    justify-content: center;
    align-items: center;
    width:500px;
    margin-top:20px;
    

}

.card-title h2{
    font-family:"Poppins",sans-serif;
    text-align:center;
}

@media screen and (max-width:800px) {

    #header {
        flex-direction: column;
        align-items: center;
    }

    #header ul {
        margin-top: 20px;
    }

    #header ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    #header p {
        padding: 10px 10px;
    }
}